.header{
    width: 100vw;
    display: flex;
    justify-content: center;
    background: white; 
    margin:0px;
    margin-bottom: 2px;
    box-shadow: 0px 15px 10px -20px #111;
}
.header-container{
    width: 75vw;
    display: flex;
    justify-content: space-between;
    background: white; 
}

.nav-container{
    display: flex; 
}

.list-n{
    display: flex;
    align-items: flex-end;
    padding: 10px 0;
}

.cart-login-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.list-h{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.logo-img{
    margin-top: 15px;
    width: 75%;
}

.list-n li,.list-h li{
    margin-right: 10px;
    list-style-type: none;
}

.list-h li:last-child{
    padding-right: 0;
    margin-right: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn-cart{
    background-color: lightgrey;
     
}

.cart-box{
    margin: 0px;
    background: #eaeaea;
    padding: 10px 45px;
}

.cart-icon{
    color: #bf2957;
    margin-right: 10px;
}

@media only screen and (max-device-width: 480px) {
    .list-n,.list-h{
        display: none;
    }

    .header, .header-container{
        width: 100vw;
        margin: 0;
        padding: 0;
    }

    .logo-img{
        margin: 0;
        padding: 0;
        width: 50%;
    }

    .cart-box{
        margin: 0;
        padding: 15px;
    }
}